.title__block {
   padding-bottom: 20px;
   .back__page-btn {
      display: none;
      position: relative;
      font: 400 16px/20px Roboto;
      color: #e93c3c;
      padding-left: 30px;
      margin-bottom: 28px;
      &::before {
         content: "";
         position: absolute;
         top: 50%;
         left: 0px;
         transform: translateY(-50%);
         -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
         -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
         width: 24px;
         height: 24px;
         background-image: url("data:image/svg+xml,%3Csvg width='8' height='14' viewBox='0 0 8 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L1 7L7 13' stroke='%23A0A4A8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
         background-color: transparent;
         background-position: center;
         background-repeat: no-repeat;
         border: none;
      }
   }
   .map__pages {
      display: flex;
      align-items: center;
      gap: 15px;
      color: #828282;
      margin-bottom: 50px;
      a + a {
         position: relative;
         &::before {
            content: ">";
            position: absolute;
            left: -10px;
         }
      }
   }
   h3 {
      font-size: 32px;
      line-height: 42px;
      text-transform: uppercase;
      margin-bottom: 30px;
   }
   .categories {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-bottom: 10px;
      button {
         font-size: 12px;
         line-height: 14px;
         color: #52575c;
         background: #f9f9fa;
         border: 1px solid #cacccf;
         border-radius: 2px;
         -webkit-border-radius: 2px;
         -moz-border-radius: 2px;
         -ms-border-radius: 2px;
         -o-border-radius: 2px;
         padding: 8.5px 8px;
         transition: 0.2s all;
         -webkit-transition: 0.2s all;
         -moz-transition: 0.2s all;
         -ms-transition: 0.2s all;
         -o-transition: 0.2s all;
         &:hover {
            color: #ffffff;
            background: #e93c3c;
            border-color: #e93c3c;
         }
         &.active {
            color: #ffffff;
            background: #e93c3c;
            border-color: #e93c3c;
         }
      }
      .show__more {
         background-color: transparent;
         border: 1px solid #e93c3c;
         &:hover {
            color: #e93c3c;
            background-color: transparent;
         }
      }
   }
   .sorting {
      display: flex;
      justify-content: end;
      align-items: center;
      &__select {
         position: relative;
         max-width: min-content;
         white-space: nowrap;
         cursor: pointer;
         &:hover {
            .sorting__select-inner {
               opacity: 1;
               overflow: visible;
               visibility: visible;
            }
         }
         .header {
            position: relative;
            z-index: 10;
            display: flex;
            align-items: center;
            gap: 8px;
         }
         .sorting__select-inner {
            position: absolute;
            z-index: 5;
            top: 0px;
            right: 0px;
            padding-top: 25px;
            opacity: 0;
            overflow: hidden;
            visibility: hidden;
            transition: 0.2s all;
            -webkit-transition: 0.2s all;
            -moz-transition: 0.2s all;
            -ms-transition: 0.2s all;
            -o-transition: 0.2s all;
            .list {
               width: min-content;
               background: #ffffff;
               border-radius: 4px;
               -webkit-border-radius: 4px;
               -moz-border-radius: 4px;
               -ms-border-radius: 4px;
               -o-border-radius: 4px;
               box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
               overflow: hidden;
               .item {
                  padding: 6px 29px 6px 11px;
                  white-space: nowrap;
                  transition: 0.2s all;
                  -webkit-transition: 0.2s all;
                  -moz-transition: 0.2s all;
                  -ms-transition: 0.2s all;
                  -o-transition: 0.2s all;
                  &:hover {
                     color: #ffffff;
                     background: #007eff;
                  }
               }
            }
         }
      }
      &__filter-btn {
         display: none;
         align-items: center;
         gap: 10px;
         background-color: transparent;
         border: none;
         padding: 0;
      }
   }
}
